@import url("../font/Pretendard/variable/pretendardvariable.css");

:root{
    --font: "Pretendard Variable", sans-serif;
}

html {
    font-size: 15px;
    font-family: var(--font);
}

body {
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p {
    margin:0;
}