<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HICC개팅</title>

    <link rel="stylesheet" href="/css/master.css" type="text/css">
    <link rel="stylesheet" href="/css/intro.css" type="text/css">
</head>
<body>

    <main>
        <h1>HICC개팅에 오신 것을 환영합니다!</h1>
        <h2>아무 곳이나 클릭하여 시작하기</h2>
    </main>

    <script>
        document.querySelector('main').addEventListener('click', () => {
            window.location.href = "/member_form";
        });
    </script>
</body>
</html>