<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>hiCC</title>

    <link rel="stylesheet" href="/fonts/Pretendard/variable/pretendardvariable.css" type="text/css">
    <link rel="stylesheet" href="/css/master.css" type="text/css">
    <link rel="stylesheet" href="/css/intro.css" type="text/css">
</head>

<body>
    <main>
        <div class="layer stars">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="layer fg">
            <div class="top"></div>
            <img id="hicc" src="/images/hicc.svg">
            <div class="bottom">
                <h2>홍익대학교 친구와 인스타그램을 교환해보세요!</h2>
                <h3 class="blink">화면을 클릭하여 시작하기</h3>
            </div>
        </div>
    </main>

    <script>
        document.querySelector('main').addEventListener('click', () => {
            window.location.href = "/terms_of_use";
        });
    </script>
</body>
</html>