<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HICC개팅</title>

    <link rel="stylesheet" href="/fonts/Pretendard/variable/pretendardvariable.css" type="text/css">
    <link rel="stylesheet" href="/css/master.css" type="text/css">
    <link rel="stylesheet" href="/css/memberForm.css" type="text/css">
</head>

<body>
    <main>
        <div class="outwrapper">
            <div class="inwrapper">
                <h2>먼저, 당신에 대해 알려주세요.</h2>

                <div class="form">

                    <div class="input-form">
                        <p>성별을 선택해주세요.</p>
                        <div class="input-radiobuttons">
                            <div class="button">
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" value="MALE" autocomplete="off" tabindex="1">
                                <label for="btnradio1">남성</label>
                                <div class="border"></div>
                            </div>
                            <div class="button">
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" value="FEMALE" autocomplete="off" tabindex="2">
                                <label for="btnradio2">여성</label>
                                <div class="border"></div>
                            </div>
                        </div>
                    </div>

                    <div class="input-form">
                        <p>인스타그램 아이디를 알려주세요.</p>
                        <div class="input-text">
                            <span class="prefix">@</span>
                            <input type="text" id="instagramId" placeholder="인스타그램 아이디를 입력해주세요" autocomplete="off" spellcheck="false" tabindex="3">
                            <div class="border"></div>
                        </div>
                    </div>

                    <div class="input-form">
                        <p>마지막으로 간단한 자기소개를 적어주세요.</p>
                        <div class="input-textarea">
                            <textarea id="introduction" name="introduce" cols="80" rows="7" maxlength="100"
                                placeholder="간단한 자기소개를 100자 이내로 작성해주세요"
                                autocomplete="off" spellcheck="false" tabindex="4"></textarea>
                            <div class="border"></div>
                        </div>
                    </div>

                </div>

                <div class="submit">
                    <button type="button" onclick="clickNext()" tabindex="5">전부 다 작성했어요!</button>
                </div>
            </div>
        </div>
    </main>

    <button type="button" id="button-reset" onclick="directIntro()">처음으로 돌아가기</button>

    <script src="/js/jquery-latest.min.js"></script>
    <script src="/js/memberForm.js"></script>
</body>
</html>