<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HICC개팅</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--css-->
    <link rel="stylesheet" href="/css/peopleChoice.css" type="text/css">
</head>

<body>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 id="gender1" class="card-title">성별</h5>
        <p id="introduce1" class="card-text"></p>
        <button type="button1" class="btn btn-primary">선택</button>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 id="gender2" class="card-title">성별</h5>
        <p id="introduce2" class="card-text"></p>
        <button type="button2" class="btn btn-primary">선택</button>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 id="gender3" class="card-title">성별</h5>
        <p id="introduce3" class="card-text"></p>
        <button type="button3" class="btn btn-primary">선택</button>
    </div>

</div>


<button type="button" class="btn btn-primary" id="rematch">재매칭</button>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<script src="/js/peopleChoice.js"></script>
</body>
</html>