<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HICC개팅</title>

    <link rel="stylesheet" href="/fonts/Pretendard/variable/pretendardvariable.css" type="text/css">
    <link rel="stylesheet" href="/css/master.css" type="text/css">
    <link rel="stylesheet" href="/css/peopleChoice.css" type="text/css">
</head>

<body>
    <main>
        <div class="outwrapper">
            <div class="inwrapper">
                <h2>이 중에, 친해지고 싶은 분이 있나요?</h2>

                <div class="form">

                    <div class="input-form">
                        <div id="cardContainer" class="input-cards">
                        </div>
                    </div>

                </div>

                <div class="submit">
                    <button id="button-rematching" onclick="requestMatching()" color="th-dark">다시 매칭하고 싶어요</button>
                </div>
            </div>
        </div>
    </main>

    <button type="button" id="button-before" onclick="directBeforePage()">이전 페이지로 돌아가기</button>
    <button type="button" id="button-reset" onclick="directIntro()">처음으로 돌아가기</button>

    <script src="/js/jquery-latest.min.js"></script>
    <script src="/js/peopleChoice.js"></script>
</body>
</html>