<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HICC개팅</title>

    <link rel="stylesheet" href="/fonts/Pretendard/variable/pretendardvariable.css" type="text/css">
    <link rel="stylesheet" href="/css/master.css" type="text/css">
    <link rel="stylesheet" href="/css/targetGenderChoice.css" type="text/css">
</head>

<body>
    <main>
        <div class="outwrapper">
            <div class="inwrapper">
                <h2>어떤 분과 친해지고 싶으신가요?</h2>

                <div class="form">

                    <div class="input-form">
                        <div class="input-buttons">
                            <button id="male" type="button" class="btn btn-primary" onclick="choiceTargetGender(this.id)">남성</button>
                            <button id="female" type="button" class="btn btn-primary" onclick="choiceTargetGender(this.id)">여성</button>
                            <button id="any" type="button" class="btn btn-primary" onclick="choiceTargetGender(this.id)">무관</button>
                        </div>
                    </div>

                </div>

                <div class="submit">
                </div>
            </div>
        </div>
    </main>

    <button type="button" id="button-before" onclick="directBeforePage()">이전 페이지로 돌아가기</button>
    <button type="button" id="button-reset" onclick="directIntro()">처음으로 돌아가기</button>

    <script src="/js/jquery-latest.min.js"></script>
    <script src="/js/targetGenderChoice.js"></script>
</body>
</html>

